@media screen and (min-width: 1024px) and (max-width: 1366px) {

}

@media screen and (min-width: 640px) and (max-width: 1023px) {

	.col-md-12 {
	width: 100%;
	float: left;
	height: 70px;
	}

	.col-md-8 {
	width: 66.66%;
	float: left;
	}

	.col-md-4 {
	width: 33.32%;
	float: left;	
	}

	.col-md-3 {
	width: 25%;
	float: left;
	}

	.col-md-6 {
	width: 50%;
	float: left;
	}

	.clearfix {
	clear: both;
	display: block;
	}
}

@media screen and (min-width: 0px) and (max-width: 639px) {
	.col-sm-12 {
	width: 100%;
	}
	.black, .black2 {
		height: 70px;
	}
	.hidden-sm {
		display: none;
	}
}



